#pantallaDos, #pantallaTres{
    display: none;
}
#pantallaUno{
    display: block;
}

h1{font-family:"rufina", serif;
     color: #fff;
     text-align: left center ;
     font-size: 40px;
}
 h2{font-family:"rufina", serif;
     color: rgb(245, 245, 243);
     text-align: center;
     font-size: 30px;
     
 }
 img {
    border: 4px solid tomato;
    border-radius: 3%;
    width: 600px;
    height:320px;
}
  
 #numtarjeta{
    width: 190px;
    height: 28px;
 }
 #validar{
     width: 160px;
     height: 40px;
     background: rgb(247, 211, 11);
     border-radius: 15px;
     text-align: center;
 }
 #volver{
    width: 160px;
    height: 40px;
    background: rgb(173, 171, 171);
 }

 body{
    margin: 0;
    font-family:sans-serif;
    text-align: center;
    background: linear-gradient( 91.7deg, rgba(50,25,79,0.75) -4.3%, rgba(33, 23, 82,0.75) 101.8% ),url(/img/rstones5.jpg) no-repeat center center fixed;

}
input{
    margin-bottom: 16px;
    font-size: 1;
}
.input-100{
    width: 360px;
    height: 28px;
}
.btn-igual{
    width: 200px;
    height: 40px;
    background: #3aa1f5;
}
 p{
    font-family:"rufina", serif;
    color: rgb(245, 245, 243);
    text-align: center;
    font-size: 30px;
 }

